nav {
  height: 5rem;
  display: flex;
  border-bottom: 3px solid gray;
  margin-bottom: 1rem;
}

div {
  width: auto;
  height: auto;
}

p {
  font-size: 1rem;
  margin-bottom: 0 !important;
}

/* questions in quiz */
h1 {
  font-size: 4rem;
}

/* question choices */
h2 {
  font-size: 2rem;
}

/* question title */
h3 {
  font-size: 1.5rem;
  background-color: lightgray;
  padding: 10px;
}

/* back and next buttons */
h4 {
  background-color: lightgrey;
  padding: 10px;
  border-radius: 15px;
  width: fit-content;
}

h4:hover {
  cursor: pointer;
  background-color: gray;
}

/* settings title */
h5 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0;
}

/* settings text */
h6 {
  font-size: 1.5rem;
}

.warning {
  background-color: tomato;
  padding: 10px;
  font-size: 1.3rem;
  font-weight: bold;
  border-radius: 10px;
}

/* react-bootstrap styles */
