.home-genre-container {
  height: fit-content;
  display: flex;
  overflow: scroll;
  padding: 0 3rem;
}

.home-genre-container[data-scrollbar-theme="dark"]::-webkit-scrollbar {
  width: 0px;
  height: 10px;
  background-color: #262626;
}

.home-genre-container[data-scrollbar-theme="dark"]::-webkit-scrollbar-thumb {
  background-color: #121212;
}

.home-genre-container[data-scrollbar-theme="light"]::-webkit-scrollbar {
  width: 0px;
  height: 10px;
  background-color: #eee;
}

.home-genre-container[data-scrollbar-theme="light"]::-webkit-scrollbar-thumb {
  background-color: lightgray;
}

.home-quizname-container {
  padding: 3rem;
}

@media screen and (max-width: 1000px) {
  .home-quizname-container {
    padding: 3rem 0;
  }
}

.home-quizlist-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eee;
  margin: 10px;
  padding: 1rem 2rem;
  border-radius: 10px;
}

.home-quizlist-container:hover {
  cursor: pointer;
  background-color: lightgray;
}

.home-no-saved-quizzes {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  font-size: 5rem;
  color: gray;
  border-top: 3px solid lightgray;
}
