.navbar {
  background-color: white;
}

.container {
  background-color: white;
}

.navbar-collapse {
  background-color: white;
}

.navbar-nav {
  background-color: white;
  color: black;
}

.navbar-brand {
  font-size: 2rem;
}

.nav-link {
  font-size: 1.5rem;
}
