.listitem-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.listitem-container:hover {
  cursor: pointer;
}

.listitem-container p {
  font-size: 2rem;
}

.title-bookmark-container {
  border: 0px;
  border-radius: 10px;
  z-index: 9999;
}

@media screen and (max-width: 900px) {
  .listitem-container p {
    font-size: 1.3rem;
  }
}
